DIRECTUS_URL=http://situacija-directus-app:8055
DIRECTUS_PUBLIC_URL=https://situacija.sitestudio.lt
DIRECTUS_STATIC_TOKEN=keisti_i_directus_tokena
PREVIEW_SECRET=ilgas_atsitiktinis_raktas
REVALIDATE_SECRET=kitas_ilgas_atsitiktinis_raktas
